.about-content {
    padding-top: 60px;
    display: grid;
    text-align: center;
    font-size: 30px;
    background-color: rgba(232, 230, 230, 0.35);
    min-height: 300px;
}
.about-section {
    padding-top: 60px;
}
