.counts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid grey;
    /* gap: 10px; */
}
/* .counts button{
    width: 100%;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
} */
 .counts button {
    font-size: 16px;
    border:0;
    background-color: white;
    /* max-width: 100%; */
 }
 .counts p {
    text-align: center;
 }