.faq {
  background-color: rgba(232, 230, 230, 0.35);

}
.faq-head {
  padding-top: 60px;
  text-align: center;
  margin-bottom: 10px;
}
.faq-card {
  border: 1px solid black;
  padding: 20px;
  background-color: transparent;
  margin-bottom: 30px;
  max-width: 600px;
  min-height: 100px;
}
.faq-card h4 {
  text-align: center;
  padding-bottom: 20px;
}
.faqcard-container {
  display:grid;
  place-content: center;
}