.foot-content {
    max-width: 800px;
    padding-top:20px;
    color: white;
    display: flex;
    justify-content: center; 
    padding-bottom: 30px;  
    list-style-type: none;
    gap: 43px;
}
.foot-content a {
    color: white;
    text-decoration: none;
}
.foot-content + p {
    color: white;
    font-size: 14px;
    text-align: start;
    font-weight: 100;
    
}
.footer-content {
    min-height: 250px;
    background-color: black;
    display: grid;
    place-content: center;
    padding-bottom: 20px;
}
.query {
    display: flex;
    gap: 10px;
}
.query button {
    padding: 10px 10px 10px 10px;
}
.query button:hover {
    background-color: rgb(234, 233, 233);
}
.query + p {
    color: red;
    font-size: 12px;
    text-align: start;
}
small{
    color: white;
}
.query input{
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.foot {
    background-color: rgb(150, 148, 148);
    max-width:100%;
    font-size: 14px;
    min-height: 30px;
    margin-bottom: 20px;

}
.foot p {
    color: black;
    text-align: center;
    font-weight: 400;
}
.foot span {
    text-decoration: underline;
}

@media screen and (max-width:680px) {
    .footer-content {
        flex-direction: column;
    }
    
}