
.gift {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gift>div img {
    height: 300px;
}
.form-data {
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
}
.price>div:nth-child(1) {
    border: 1px solid gray;
    display: flex;
    padding: 20px;
    gap: 10px;
}
.price1>div {
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting {
    width: 100px;
    height:100px;
}
.card-for>div {
    display: flex;
    gap: 10px;
}
.card-for>div>button {
    width: 200px;
}
.gift-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.gift-form input{
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
}
.gift-form input:last-of-type{
    height: 100px;
}
.gift-form button{
    max-width: 410px;
    min-height: 50px;
    border-radius: 50px;
}
.gift-form button:nth-of-type(1){
    background-color: black;
    color: white;
    border: 1px solid black;
}
.gift-form button:nth-of-type(2){
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}