* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  min-height: 50px;
}
.menu-items {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.brand h3 {
  font-size: 25px;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.brand p {
  font-size: 12px;
  color: #666;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    color: rgb(43, 43, 43);
    transition: color 0.3s;
}
.nav-links li a:hover {
  color: rgb(108, 110, 108);
}
.active {
  color: rgb(205, 204, 204);
}
.header-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-icons .cart-icon,
.header-icons .user-icon,
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.header-icons img {
  min-height: 20px;
  max-width: 20px;
}
.cart-count {
  background-color: #070707;
  color: #fff;
  font-size: 0.7em;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -8px;
  line-height: 1;
  min-width: 18px;
  text-align: center;
}
@media (max-width: 680px) {
  .menu-items {
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    font-size: 9px;
    gap: 0;
    position: relative;
  }
  .nav-links {
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
}


