.cards img{
    max-width: 300px;
    min-height: 300px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.product-list {
    padding-top: 60px;
}
@media screen and (max-width:680px) {
    .cards {
        grid-template-columns: 1fr;
    }
    
}