.cards img{
    max-width: 300px;
    min-height: 300px;

}
.cards {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 10px;
}
